/*
!.gitignore
!/wa-plugins
/wa-plugins/*
!/wa-plugins/shipping
/wa-plugins/shipping/*
!/wa-plugins/shipping/russianpost1cit
!/wa-plugins/shipping/pickup
!/wa-plugins/shipping/sdekmuslab
!/wa-plugins/shipping/dlmuslab

!/wa-plugins/payment

!/wa-apps
/wa-apps/*
!/wa-apps/shop
/wa-apps/shop/*
!/wa-apps/shop/plugins
/wa-apps/shop/plugins/*
!/wa-apps/shop/plugins/bshop

!/wa-apps/shop/lib
/wa-apps/shop/lib/*
!/wa-apps/shop/lib/classes
/wa-apps/shop/lib/classes/*
!/wa-apps/shop/lib/classes/checkout

!/wa-data
/wa-data/*
!/wa-data/public
/wa-data/public/*

!/wa-data/public/shop
/wa-data/public/shop/*
!/wa-data/public/shop/themes/
/wa-data/public/shop/themes/*
!/wa-data/public/shop/themes/your_shop


!/wa-data/public/site
/wa-data/public/site/*
!/wa-data/public/site/themes/
/wa-data/public/site/themes/*
!/wa-data/public/site/themes/your_shop


!/wa-config
/wa-config/*
!/wa-config/SystemConfig.class.php

!/wa-system
/wa-system/*
!/wa-system/vendors
/wa-system/vendors/*
!/wa-system/vendors/1cit