/*
!.gitignore
!/wa-plugins
/wa-plugins/*
!/wa-plugins/shipping
/wa-plugins/shipping/*
!/wa-plugins/shipping/russianpost1cit
!/wa-plugins/shipping/pickup
!/wa-plugins/shipping/sdekmuslab
!/wa-plugins/shipping/dlmuslab

!/wa-apps
/wa-apps/*
!/wa-apps/shop
/wa-apps/shop/*
!/wa-apps/shop/plugins
/wa-apps/shop/plugins/*
!/wa-apps/shop/plugins/bshop

!/wa-config
/wa-config/*
!/wa-config/SystemConfig.class.php

!/wa-system
/wa-system/*
!/wa-system/vendors
/wa-system/vendors/*
!/wa-system/vendors/1cit